<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsilApp"
        tools:targetApi="31">

        <!-- Dichiarazione di MainActivity -->
        <activity
            android:name=".controller.home.HomeActivity">
        </activity>

        <!-- Dichiarazione di AnagraficaActivity -->
        <activity
            android:name=".controller.anagrafica.AnagraficaActivity">
        </activity>

        <!-- Dichiarazione dell'activity ProfiloSanitarioActivity -->
        <activity
            android:name=".controller.profiloSanitario.ProfiloSanitarioActivity">
        </activity>

        <activity android:name=".controller.sezioneInformativa.SezioneInformativaActivity" />

        <activity android:name=".controller.autenticazione.AutenticazioneActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.valutazioni.ValutazioniActivity">
        </activity>

        <activity android:name=".controller.gestioneSpese.GestioneSpeseActivity" />


    </application>

</manifest>
